@import url('https://fonts.googleapis.com/css?family=Righteous|Montserrat|karla|Monoton|Poiret+One|Poppins&display=swap');

body{
    margin: 0;
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
}

p{
    font-family: 'Montserrat','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hidden{
    display: none;
}

.heading-1{
    text-align: center;
    font-family: 'Righteous',cursive;
    font-size: xx-large;
    margin-bottom: 1.2em;
}

.mb-6{
    margin-bottom: 6em;
}

/* ------------------------------ Header Style ------------------------------------*/

header{
    background-image: linear-gradient(to bottom,rgba(5, 5, 5, 0.781),rgba(10, 9, 9, 0.836)),url('../img/girl-447701_1920.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    color: white;
}

.banner{
    position: absolute;
    top: 20vh;
    left: 10vw;
    text-align: left;
    width: 400px;
}

.banner p{
    margin-bottom: 10px;
}

.banner h1{
    font-family: 'Righteous',cursive;
    font-size: 1.5em;
    margin-bottom: 12px;
}

.banner ul{
    text-align: right;
}

.banner ul li{
    display: inline-block;
    margin-right: 2em;
    border: 1px solid white;
    padding: 5px 10px;
    background-color: white;
}

.banner ul li>a{
    color: black;
}


/* ================================ Navbar Style ====================== */

nav{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: black;
}

.nav-desktop{
    width: 60%;
    margin: auto;
    padding: 1.3em 0;
}

.nav-desktop ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-desktop ul li>a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Poppins','Courier New', Courier, monospace;
    padding: 2px 5px;
}

.nav-desktop ul li>a:hover{
    background-color: white;
    color: black;
}

.nav-mobile{
    display: none;
}


/* ================== About me Section ========================= */

#about-me > h1 + p{
    text-align: center;
    margin-bottom: 1.2em;
}

.content__about{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

.content__about .information{
    width: 45%;
}

/* Skill (HTML,CSS,JS,...) */

.information:last-child span{
    font-family: 'Poppins',cursive;
}

.information:last-child .bar{
    margin-bottom: 1em;
}

.bar{
    width: 100%;
    height: 5px;
    background-color: rgba(182, 179, 179, 0.89);
}

.info__bar{
    font-family: 'Poppins',cursive;
}

.info__bar span{
    float: right;
}

.progress__bar{
    height: 100%;
    background-color: rgba(17, 15, 15, 0.932);
}

.html5{
    width: 90%;
}

.css3{
    width: 76%;
}

.javascript{
    width: 70%;
}

.python3{
    width: 80%;
}

.php{
    width: 20%;
}

/* ================ Skill Style ======================== */



.box__skill{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    font-family: 'Poppins',cursive;
}

.content > img{
    width: 200px;
    height: auto;
}

.content:not(img){
    text-align: center;
}

.content h4{
    font-size: x-large;
}

.content ul{
    list-style: none;
}